body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Opcional: Cambia el color de fondo del cuerpo */
}

#gameContainer {
    border: 4px solid rgb(26, 59, 90); /* Cambiamos el color del borde */
    text-align: center;
    position: relative;
    display: flex; /* Utilizamos flexbox para alinear elementos */
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center; /* Centramos verticalmente */
    width: 600px; /* Establecemos un ancho fijo para el contenedor */
}

#gameCanvas {
    display: block;
}

#scoreContainer {
    position: absolute;
    top: 30px; /* Ajustamos la posición en la parte superior de la pantalla */
    right: 30px; /* Ajustamos la posición en la esquina superior derecha */
}

.score, .lives {
    font-size: 24px;
    color: white; /* Cambiamos el color del texto a blanco */
    display: block;
}

.score {
    margin-top: 10px;
}

.lives {
    margin-top: 10px;
}

#buttonContainer {
    margin-bottom: 20px; /* Agregamos margen inferior para separar el botón del cuadro de juego */
}

#startButton {
    background-color: #1e9f5c; /* Color de fondo predeterminado del botón */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Agregamos una transición suave al color de fondo */
    margin-bottom: 20px; /* Añadimos margen inferior para separar el botón del cuadro de juego */
}

#startButton:hover {
    background-color: #76ce95; /* Color de fondo cuando el cursor pasa sobre el botón */
}

#pauseButton {
    background-color: #b360eb;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Agregamos una transición suave al color de fondo */
    margin-left: 20px; /* Añadimos margen inferior para separar el botón del cuadro de juego */
}

#pauseButton:hover {
    background-color: #ba95d2;
}

#stopButton {
    background-color: #b360eb;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Agregamos una transición suave al color de fondo */
    margin-left: 20px; /* Añadimos margen inferior para separar el botón del cuadro de juego */
}

#stopButton:hover {
    background-color: #ba95d2;
}
